body{
    background-color: rgb(255, 255, 255);
}
#nav_id{
    background:rgba(181, 223, 55,1);
    /* color: white; */
}
.nav-link{
    color:#189a04;
    font-size:20px;
    /* font-weight: 100px; */
}
#navimg{
    width: 50px;
    border-radius: 40px;
    border:2px solid green;
    /* background-color: black; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #198754;
}
.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    font-size:larger;
}
.grid-item{
    background-color: #353535;
    margin: 10px;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-size: 25px;
    color: white;
    border-radius: 9px;
    /* align-items: center; */
}
.line{
    display: flex;
    justify-content: center;
    background-color: white;
    
    height: 2px;
}
.information div{
    margin: 10px 5px;
}
.intro{
    font-size: 41px;
    font-weight: 600;
    margin: auto;
}
#user-img{
    filter: invert(100%);
    width: 13%;
    margin: 0px 4px;
}
#info-btn{
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
}
.icons{
    height: 30px;
    filter: invert(79%);
}
b{
    font-weight: 500;
}
.part1{
    position: relative;
    top: -10;
}
.credits{
    padding: 10px;
}
.history{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#form .heading{
    display: inline;
    margin: auto;
}
#form input,select{
    font-size: 20px;
    height: 40%;
}